:root {
    --verde: #00b30c;
    --gris1: #353537;
    --gris2: #eaeaeb;
    --gris3: #777777;
}

/* header */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

.titulo {
    font-weight: 700!important;
}

/* scroll */

.header-scroll .nav-link {
    color: #777777!important;
}

.header-scroll .btn-outline-success:hover {
    color: white!important;
}

.header-scroll .btn-outline-success {
    color: #00b30c!important;
}

.header-scroll {
    opacity: 0;
    /* con esto dejas flotando el menu */
    position: fixed;
    /* esto es para crear el efecto de que viene desde arriba deslizandose */
    margin-top: -300;
    /* para que no pierda el espacio que ya le definimos */
    width: 100%;
    /* para que se pueda ver sin que se encimen los elementos */
    background-color: white;
    /* para empujarlo alfrente de todo el contenid */
    z-index: 100;
    /* con esto creas una pequeña linea con la que separas el menu de el contenido */
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    /* con esto terminas de crear el efecto para que al aparecer se mas suave */
    transition: all .4s ease;
}

/* con esta clase quitas el margen de 300 de arriba y
 agregas la opcacidad, esto para crear el efecto de que
  el menu se desliza hacia abajo */

.header-scroll.activo {
    margin-top: 0;
    opacity: 1;
}

.header {
    background-image: url(../img/hero.jpg);
    min-height: 30rem;
    background-size: cover;
}

.header .nav-link, .header .nav-link:hover {
    color: white;
}

.header .btn-outline-light:hover {
    color: black!important;
}

.buscador {
    min-height: 25rem;
}

.btn-success {
    background-color: #00b30c!important;
}

/* categorias */

.categoria {
    padding-bottom: 60px;
    overflow: hidden;
    height: 300px;
}

/* Esta parte es para la linea verde animada */

.categoria h3::before {
    content: '';
    display: block;
    /* esto es para que est centrado */
    margin: 0 auto 20px auto;
    height: 1px;
    width: 60px;
    background-color: #00b30c;
    transition: all .4s ease;
}

.categoria:hover h3::before {
    width: 180px;
}

.categoria h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

/* no puedes hacer una transicion de d-none a d-block */

.categoria p {
    color: #999999;
    opacity: 0;
    padding-top: 30px;
    transition: all .4s ease;
}

.categoria:hover p {
    opacity: 1;
    padding-top: 10px;
}

/* pro */

.bg-dark {
    background-color: #353537!important;
}

.nuevo-pro .row {
    min-height: 25rem;
    ;
}

/* primeros pasos */

.primeros-pasos .descripcion {
    flex: 1 0 50%;
}

@media(min-width: 768px) {
    .primeros-pasos .descripcion {
        flex: 1 0 20%;
    }
}

.primeros-pasos .logotipo {
    background-image: url(../img/servicio1.png)
}

.primeros-pasos .social-media {
    background-image: url(../img/servicio2.png)
}

.primeros-pasos .audio {
    background-image: url(../img/servicio3.png)
}

.primeros-pasos .traducciones {
    background-image: url(../img/servicio4.png)
}

.primeros-pasos .wordpress {
    background-image: url(../img/servicio5.png)
}

.primeros-pasos .descripcion {
    height: 20rem;
    background-size: cover;
}

/* beneficios */

.beneficios .row {
    min-height: 20rem;
}

.beneficio h3 {
    font-weight: 300;
}

.beneficio h3 span {
    font-weight: 700;
}

/* testimona¿iales */

.testimoniales {
    background-color: #eaeaeb;
}

.testimoniales .carousel {
    background-color: white;
}

.testimoniales .carousel-item h4 {
    font-weight: 700;
}

.testimoniales .carousel-item blockquote {
    font-size: 1.8rem;
    color: #676767;
    font-style: italic;
}

.testimoniales .carousel-item ´p {
    font-size: .8rem;
}

.guias .card-title {
    font-size: 1.2rem;
}

/* footer */

.footer {
    border-top: 1px solid #eaeaeb;
}

.footer h3 {
    color: #777777;
    font-size: 1.2rem;
}

.footer .nav-link {
    color: #777777!important;
    padding: 5.rem 0;
    font-size: 1rem;
}

.footer .container-fluid {
    /* con esto habilitas flex-box para el diseño */
    display: flex;
    flex-wrap: wrap;
}

.footer .widget {
    justify-content: space-between;
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem;
}

@media(min-width: 768px) {
    .footer .widget {
        justify-content: space-between;
        flex: 0 0 calc(33.3% - 1rem);
        padding: 1rem;
    }
}

@media(min-width: 992px) {
    .footer .widget {
        justify-content: space-between;
        flex: 0 0 calc(20% - 1rem);
        padding: 1rem;
    }
}